@charset "utf-8";
{
	margin: 0;
	padding: 0;
}
body
{
	background-color: gray;
}
header
{
	padding: 10px;
	text-align: center;
	background-color: red;
}
section
{
	padding: 10px;
	background-color: orange;
}
aside
{
	padding: 10px;
	background-color: green;
}
footer
{
	padding: 10px;
	background-color: blue;
	text-align: center;
}
@media screen and (max-width:640px)
{
	body
	{
		background-color: red;
	}
}
@media screen and (min-width:641px) and (max-width:980px)
{
	body
	{
		background-color: green;
	}
}
@media screen and (min-width:981px)
{
	body
	{
		background-color: blue;
	}
}
@media screen and (orientation:portrait)
{
	body:after
	{
		content: "縦長";
	}
}
@media screen and (orientation:landscape)
{
	body:after
	{
		content: "横長";
	}
}
